.centerVBox {
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}

.whiteBox {
    -fx-background-color: #1a3246; /* Grigio molto chiaro con una sfumatura di blu */
    -fx-padding: 15px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
}

.label {
    -fx-text-fill: white; /* Blu scuro per contrasto */
    -fx-font-weight: bold;
}

.main-text {
    -fx-text-fill: rgb(16, 33, 44); /* Blu leggermente più chiaro */
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10px 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 0, 1);
}

.list-view {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-background-radius: 8px;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-border-width: 0 0 1 0;
    -fx-background-radius: 8px;
}

.list-cell:hover {
    -fx-background-color: rgb(16, 33, 44); /* Colore hover più luminoso */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, 0, 0);
}

.list-cell:empty {
    -fx-border-width: 0;
}