.main {
    -fx-background-color: #1a3246;
    -fx-text-fill: white;
}

.button{
    -fx-background-color: white;
    -fx-text-fill: #1a3246;
    -fx-border-color: #1a3246;
}

.button .ikonli-font-icon {
    -fx-icon-color: #1a3246;
}

.button:hover {
    -fx-background-color: #1a3246;
    -fx-text-fill: white;
    -fx-border-color: white;
}

.button:hover .ikonli-font-icon{
    -fx-icon-color: white;
}
