.mainText {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.button .ikonli-font-icon {
    -fx-icon-color: white;
}

.normalText {
    -fx-text-fill: #1a3246;
}

.label {
    -fx-text-fill: #1a3246;
}

.text-field {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: transparent transparent #1a3246 transparent;
}

.text-field:focused{
    -fx-border-color: #1a3246;
    -fx-border-width: 0 0 2 0;
}

.text-area:focused{
    -fx-border-color: #1a3246;
    -fx-border-width: 0 0 2 0;
}

.button {
    -fx-background-color: #1a3246;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #1a3246;
    -fx-border-color: #1a3246;
    -fx-border-radius: 10px;
}


.check-box{
    -fx-box-border: #1a3246;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}

.check-box:selected {
    -fx-mark-color: #1a3246;
    -fx-background-color: #1a3246;
}